<h1>A new cat has appeared!</h1>

     <p>{{name}} is a {{age}} year old cat.<br>
     {{name}} is a {{color}} kitty.<br>
     {{name}} has come a long way just to join your group of cats!<br>
     <a href="/cats">Join {{name}} and all the other cats!</a><br>
     <a href="/cats/new">Find {{name}} a playmate.</a><br>
     <a href="/">Back to the menu.</a>
     </p>
