<h1>You monster.</h1>

     <p>{{name}} was a {{age}} year old cat.<br>
     {{name}} was a {{color}} kitty.<br>
     {{name}} is no longer your cat.<br>
     <a href="/cats">Return to your other cats.</a>
     </p>
